In [1]:
import pandas as pd
import numpy as np
from statistics import variance, stdev
from scipy import stats

# Data from UCI Machine Learning Repository
red_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
white_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'
red_wine_data = pd.read_csv(red_url,sep=';')
white_wine_data = pd.read_csv(white_url,sep=';')

In [2]:
red_wine_data.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [3]:
print("The DataFrame consists of {} rows and {} features".format(red_wine_data.shape[0],red_wine_data.shape[1]))

The DataFrame consists of 1599 rows and 12 features

In [4]:
red_wine_data.info(max_cols=12, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [5]:
red_wine_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [6]:
total = red_wine_data.count()
temp = pd.DataFrame(total)
temp.columns = ['Total']
uniques = []

for col in red_wine_data.columns:
    unique = red_wine_data[col].nunique()
    uniques.append(unique)
temp['Uniques'] = uniques
for i in range(0,len(temp),4):
    print(np.transpose(temp[i:i+4]))
    print()

         fixed acidity  volatile acidity  citric acid  residual sugar
Total             1599              1599         1599            1599
Uniques             96               143           80              91

         chlorides  free sulfur dioxide  total sulfur dioxide  density
Total         1599                 1599                  1599     1599
Uniques        153                   60                   144      436

           pH  sulphates  alcohol  quality
Total    1599       1599     1599     1599
Uniques    89         96       65        6

In [7]:
white_wine_data.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

In [8]:
print("The DataFrame consists of {} rows and {} features".format(white_wine_data.shape[0],white_wine_data.shape[1]))

The DataFrame consists of 4898 rows and 12 features

In [9]:
white_wine_data.info(max_cols=12, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [10]:
white_wine_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [11]:
total = white_wine_data.count()
temp = pd.DataFrame(total)
temp.columns = ['Total']
uniques = []

for col in white_wine_data.columns:
    unique = white_wine_data[col].nunique()
    uniques.append(unique)
temp['Uniques'] = uniques
for i in range(0,len(temp),4):
    print(np.transpose(temp[i:i+4]))
    print()

         fixed acidity  volatile acidity  citric acid  residual sugar
Total             4898              4898         4898            4898
Uniques             68               125           87             310

         chlorides  free sulfur dioxide  total sulfur dioxide  density
Total         4898                 4898                  4898     4898
Uniques        160                  132                   251      890

           pH  sulphates  alcohol  quality
Total    4898       4898     4898     4898
Uniques   103         79      103        7

# Red Wine

In [12]:
# n: Sample Size
red_wine_data['alcohol'].groupby(red_wine_data['quality']).count()

quality
3     10
4     53
5    681
6    638
7    199
8     18
Name: alcohol, dtype: int64

In [13]:
# Create Series to Calculate Variance and Standard Deviation
df_red = pd.Series(red_wine_data['alcohol'].groupby(red_wine_data.quality))
df_red

0    (3, [9.0, 8.4, 10.7, 9.9, 11.0, 10.9, 9.8, 9.7...
1    (4, [9.0, 9.8, 9.3, 13.1, 9.2, 9.1, 10.5, 9.4,...
2    (5, [9.4, 9.8, 9.8, 9.4, 9.4, 9.4, 10.5, 9.2, ...
3    (6, [9.8, 9.2, 9.4, 9.7, 9.8, 10.6, 9.4, 9.6, ...
4    (7, [10.0, 9.5, 10.5, 9.7, 9.5, 10.5, 13.0, 10...
5    (8, [12.8, 12.6, 12.9, 9.8, 13.4, 11.7, 11.0, ...
dtype: object

In [14]:
# Mean Alcohol per Quality Ranking
red_wine_data['alcohol'].groupby(red_wine_data['quality']).mean()

quality
3     9.955000
4    10.265094
5     9.899706
6    10.629519
7    11.465913
8    12.094444
Name: alcohol, dtype: float64

In [15]:
# x-bar
mu = (df_red[4][1].sum() + df_red[5][1].sum())/(199+18)
mu

11.51804915514593

In [16]:
# Variance
red_res = []
for value in df_red[4][1]:
    red_res.append(value)
for value in df_red[5][1]:
    red_res.append(value)

print(variance(red_res))
print(np.var(red_res))

0.9963098082721746
0.9917185188331324

In [17]:
# Standard Deviation
print(stdev(red_res))
print(variance(red_res) ** .5)

0.9981531987987489
0.9981531987987489

# White Wine

In [18]:
# n: Sample Size
white_wine_data['alcohol'].groupby(white_wine_data['quality']).count()

quality
3      20
4     163
5    1457
6    2198
7     880
8     175
9       5
Name: alcohol, dtype: int64

In [19]:
# Create Series to Calculate Variance and Standard Deviation
df_white = pd.Series(white_wine_data['alcohol'].groupby(white_wine_data.quality))
df_white

0    (3, [9.8, 11.7, 8.5, 11.5, 12.6, 9.6, 9.1, 12....
1    (4, [9.8, 10.1, 9.7, 9.0, 11.4, 12.6, 8.7, 8.9...
2    (5, [12.0, 9.7, 10.8, 9.7, 9.5, 9.3, 10.2, 12....
3    (6, [8.8, 9.5, 10.1, 9.9, 9.9, 10.1, 9.6, 8.8,...
4    (7, [12.4, 11.4, 11.0, 12.3, 10.0, 11.0, 10.9,...
5    (8, [12.8, 12.8, 10.5, 10.7, 10.7, 12.1, 12.1,...
6                  (9, [10.4, 12.4, 12.5, 12.7, 12.9])
dtype: object

In [20]:
# Mean Alcohol per Quality Ranking
white_wine_data['alcohol'].groupby(white_wine_data.quality).mean()

quality
3    10.345000
4    10.152454
5     9.808840
6    10.575372
7    11.367936
8    11.636000
9    12.180000
Name: alcohol, dtype: float64

In [21]:
# x-bar
x_bar = (df_white[4][1].sum() + df_white[5][1].sum() + df_white[6][1].sum())/(880+175+5)
x_bar

11.416022012578615

In [22]:
# Variance
white_res = []
for value in df_white[4][1]:
    white_res.append(value)
for value in df_white[5][1]:
    white_res.append(value)
for value in df_white[6][1]:
    white_res.append(value)

print(variance(white_res))
print(np.var(white_res))
temp = 0
for value in white_res:
    temp += (value - x_bar)**2
var = (temp/(len(white_res) - 1))
print(var)

1.5755506384825682
1.574064269955698
1.5755506384825675

In [23]:
# Standard Deviation
sd = stdev(white_res)
s = var**.5
print(sd)
print(s)

1.2552094002526304
1.2552094002526302

In [24]:
# Test Statistic
t_stat = np.abs(x_bar - mu)/(sd/np.sqrt(1060.0))
print("Test Statistic: ",t_stat)
test_stat = (x_bar - mu)/(s/np.sqrt(1060.0))
print("Test Statistic: ",test_stat)

Test Statistic:  2.646381630748965
Test Statistic:  -2.6463816307489654

In [25]:
# Critical Value
alpha = 0.05
c_value = stats.t.ppf(alpha,1060-1)
print("Critical Value: ",c_value)

Critical Value:  -1.646293769636802

In [26]:
# p-value
p_val = 2*(1-stats.t.cdf(t_stat,1060-1))
print("p-value: ",p_val)

p-value:  0.008256449168903002